@font-face {
    font-family: 'alfa_slab_oneregular';
    src: url('../fonts/alfaslabone-regular-webfont.eot');
         url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('../fonts/alfaslabone-regular-webfont.woff') format('woff'),
         url('../fonts/alfaslabone-regular-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

html {
  background-color: #FEFFF8;
  color: #273C52;
}

body {
  font-family: "Helvetica Neue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  margin: 0;
}

.brand-name {
  font-family: "alfa_slab_oneregular";
  font-weight: normal;
  font-size: 2.5em;
}

main {
  margin: auto;
  width: 60%;
}
main.wide-mode {
  width: 95%;
}

#page-nav {
  height: 38px;
  background: #3FA369;
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  padding: 0 10em;
}

#page-nav a {
  color: rgba(255,255,255,0.8);
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 0 0.5em;
}

#page-nav a:hover {
  background: #2f794e;
  color #fff;
}

a {
  color: #3FA369;
  text-decoration: none;
}

/* <header class="banner"> */
.banner {
  background: rgba(0,0,0,0.08);
  padding: 1.25em 1em;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
  margin-bottom: 0.8em;
}

.banner a {
  color: #13723C;
}

.banner a h1 {
  margin: 0;
}

.banner .logo {
  flex: 1;
  -webkit-flex: 1;
}
